.expense__description {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-right: 58rem;
  margin-top: 3rem;
}
.expense__amount {
  width: 14rem;
  height: 6rem;
  background-color: rgb(30, 3, 57);
  border: 0.3rem solid white;
  padding: 1.3rem 2rem 1rem 2rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  margin-top: 4.6rem;
}
.expense {
  display: flex;
  flex-direction: row;
}
